
html {
  font-size: 28px;
}

section {
  padding: 4rem;
  text-align: center;
}

.controls {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.button--prev::before {
  content: '◀';
  margin-right: 1em;
}

.button--next::after {
  content: '▶';
  margin-left: 1em;
}
